.main {
    height: calc(100vh - 90px);
    width: 70%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 30px 0;
    margin: 0 auto 0 auto;
}

.h2 {
   font-size: 2rem;
}

.content {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.subject {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subject:hover {
    cursor: pointer;
    transform: translateY(-5px); /* 要素を少し持ち上げる */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 下に影を追加 */
}