.header {
    height: 60px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    font-size: 3rem;
    color: white;
    background: linear-gradient(to right, #8944FF, #3C49FF);
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin-bottom: 5px;
}